{%extends "globus-portal-framework/v2/base.html"%}
{% load static %}

{% block headextras %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
  <style>
    .mixed-case {
      color: white;
    }
    .mixed-case span {
      color: yellow;
    }
  </style>
{% endblock %}


{% block body %}


{% block list_indexes %}
{% for index, index_data in search_indexes.items %}
<div class="row">
  <div class="col"></div>
  <div class="col-10">

    {% block allowed_groups %}
    {% if forloop.first and allowed_groups %}
    <div class="alert alert-warning border" role="alert">
      <h3 class="text-center">Resources restricted to select users</h3>

      <p class="text-center">You must be a group member before logging in. You can view groups and request access below.</p>
      <p class="text-center">
        <a class="btn btn-primary" href="{% url 'allowed-groups' %}">View Groups and Request Access</a>
      </p>
    </div>
    {% endif %}
    {% endblock %}

    {% block index %}
    <h2 class="text-center card card-body">
      <a href="{% url 'search' index %}?q=*">{{index_data.name|default:index}}</a>
    </h2>
    {% endblock %}
  </div>
  <div class="col"></div>
</div>
{% endfor %}
{% endblock %}

<!-- The section with your specified background and text -->
<div style="position: relative;">
  <!-- Looping video -->
  <video autoplay loop muted style="width: 100%; height: auto;">
    <source src="{% static 'video/1.mp4' %}" type="video/mp4">
  </video>
  <!-- Text container -->
  <div class="col text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(211, 211, 211, 0.9); padding: 15px;">
    <h1 style="color: yellow; font-size: 72px;">MADE-PUBLIC</h1>
    <h2 class="mixed-case" style="font-size: 24px;"> 
      <span>M</span>anufacturing <span>A</span>Dvanced <span>E</span>lectronics through
      <span>P</span>rinting<span>U</span>sing <span>B</span>io-based and <span>L</span>ocally <span>I</span>dentifiable <span>C</span>ompounds
    </h2>
    <div style="display: flex; align-items: center; justify-content: center;">
      <a href="https://www.nsf.gov/" target="_blank">
        <img src="{% static 'pics/NSF.png' %}" alt="NSF" style="margin-right: 10px; height: 60%; width: 60%">
      </a>
      <h3 style="color: black; font-size: 20px;">NSF Future Manufacturing Program</h3>
    </div>
    <img src="{% static 'pics/FLOW.png' %}" alt="Flow" style="height: 45%; width: 45%;">
  </div>
</div>

<div class="row">
  <div class="col">
    <h2 class="text-center mt-3 mb-5">{{project_title}}</h2>
  </div>
</div>


<div class="alert alert-secondary" role="alert">
  <p style="font-weight: bold; font-size: 18px;">
    The vision of MADE-PUBLIC is a future intelligent, scalable, and democratized manufacturing paradigm to enable distributed manufacturing of low-cost printable electronic devices using locally identifiable resources such as bio-based materials derived from plants.
  </p>
  <ul>
    <li>Eco manufacturing (less carbon footprint): plants to electronics</li>
    <li>Cyber manufacturing: AI/ML and data enabled</li>
    <li>Bio-based, biodegradable, recyclable electronics</li>
    <li>Potentially complicated, integrated/multiplexed electronics</li>
    <li>Distributed, democratized electronics manufacturing</li>
    <li>Integrated education and workforce development plan</li>
  </ul>
  <p class="text-center">The Data Transfer Functions are for Current Researchers in MADE-PUBLIC Project only</p>
</div>



{% endblock %}